@@include('header.html', {
"lang": "en",
"title": "Homepage"
})

<main>
    <section>
        <div class="container">
            <div class="filter-container">
                <label class="checkbox-container">
                    <input type="checkbox">
                    <label>Price</label>
                </label>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <label>Priceblu</label>
                </label>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <label>Pricejjhkjk</label>
                </label>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <label>Pricelll</label>
                </label>
                <label class="search-container">
                    <input type="text" placeholder="search...">
                    <i class="fa fa-search"></i>
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="grid-container">
                <div class="item item1" data-type="BETRIEBSAUSFLUG">
                    <h3 class="component-name">BETRIEBSAUSFLUG</h3>
                    <img src="assets/images/kelsey-chance.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item2" data-type="TEAMTAG">
                    <h3 class="component-name">TEAMTAG</h3>
                    <img src="assets/images/matheus-ferrero.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item3" data-type="FUN">
                    <h3 class="component-name">FUN</h3>
                    <img src="assets/images/jed-villejo.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item4" data-type="TEAMBUILDING">
                    <h3 class="component-name">TEAMBUILDING</h3>
                    <img src="assets/images/perry-grone.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item5" data-type="INDOOR">
                    <h3 class="component-name">INDOOR</h3>
                    <img src="assets/images/kobu-agency.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item6" data-type="KICK-OFF">
                    <h3 class="component-name">KICK-OFF</h3>
                    <img src="assets/images/rawpixel2.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="item item7" data-type="OUTDOOR">
                    <h3 class="component-name">OUTDOOR</h3>
                    <img src="assets/images/holly-mandarich.jpg"/>
                    <i class="fa fa-heart"></i>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="result">

                </div>
            </div>
        </div>
        </div>
    </section>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>