@import "variables";

.filter-container {
  margin-top: 30px;
  .checkbox-container {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    font-size: 22px;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked ~ label {
        background-color: $white;
        color: $orange

      }
    }
    label {
      font-size: 12px;
      width: 100%;
      height: 100%;
      padding: 5px 20px;
      border-radius: 5px;
      border: 1px solid $orange;
      background-color: $orange;
      color: $white;
    }
  }
  input[type="text"] {
    font-size: 12px;
    padding: 5px 25px 5px 5px;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $orange;
  }
}

.search-container {
  position: relative;
  .fa-search {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $orange;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 10px;
  margin: 30px 0 50px;
  .item {
    position: relative;
    cursor: pointer;
    &.active {
      .fa-heart {
        color: $orange;
      }
    }
    .component-name {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 8px;
      color: $white;
      text-transform: uppercase;
      background-color: $orange2;
      border-radius: 5px;
      padding: 5px 15px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .fa-heart {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white;
      font-size: 18px;
      box-shadow: $black;
      text-shadow: 0 0 1px  $black;
    }
  }
  .item1, .item3, .item5, .item7 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .item2, .item4, .item6 {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0 0;
  .res{
    margin-bottom: 15px;
    min-height: 150px;
    border: 1px solid $orange;
    border-radius: 5px;
    overflow: hidden;
  }
  .description{
    font-size: 12px;
    line-height: 1.2;

  }
  .title {
    padding: 5px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
}
.col-md-3:nth-child(2n+1),
.col-sm-4:nth-child(2n+1),
.col-xs-6:nth-child(2n+1)
{
  clear: left;
}
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 40px;
    .item {
      .component-name {
        top: 20px;
        left: 20px;
        font-size: 12px;
      }
      .fa-heart {
        top: 20px;
        right: 20px;
        font-size: 25px;
      }
    }
    .item1, .item3, .item5, .item7 {
      grid-row: span 2;
    }
  }
}